ul, ol { 
    color: red;
    list-style-type: square;
}
h1, h3 {
    color: aquamarine;
}
article, h3 {
    color: greenyellow;

}
p {
    padding: 15px;

}
article p {
    padding: 12px;
    color: slategrey;
}
footer p {
    font-size: smaller;

}