header {
    background-color: green;
}
main {
    background-color: blue;
    width: 97%;
    float: left:
}
aside { 
    background-color: aqua;
    width: 97%;
    float: right;
}
#para1 {
    float: left:
    
}
#para2 {
    float: right:
    
}
#pic1 {
    float: right;
}
#pic2 {
    float: left;
}